.header {
	text-align: center;
	@include max-width;

	.menu {
		color: $gray-light;
		margin: $gutter 0;

		.item {
			@include font('navigation');
			display: inline;
			margin-right: 10px;
			
			a {
				text-decoration: none;
			}

			&:last-child {
				margin-right: 0;
			}

			&.active {
				a {
					color: $black;
				}
			}
		}
	}
}
@include breakpoint($mobile) {
	.header {
		.menu {
			.item {
				margin-right: $fontpadding;
			}
		}
	}
}