.header {
	text-align: center;
	@include max-width;

	.menu {
		color: $gray-light;
		margin: $gutter 0;

		.item {
			@include font('navigation');
			display: inline;
			margin-right: $padding;
			
			a {
				color: $gray;
				margin-right: 10px;
				text-decoration: none;
			}

			&.active {
				a {
					color: $black;
				}
			}
		}
	}
}