.block.small {
	.inner {
    min-height: auto;
    position: relative;

    .content-wrapper {
      display: flex;
      width: 50%;
      z-index: 2;
      flex-direction: column;

      .title {
        @include font('title');
        margin: 0;
        margin-bottom: 2px;
        font-size: 18px;
        z-index: 2;
      }

      .button-wrapper {
        margin-top: 20px;
      }
    }
  }
}

@include breakpoint(max-width $iphone5) {
  .block.small {
    .inner {
      .content-wrapper {
        width: 60%;
      }
    }
  }
}

@include breakpoint($tablet) {
	.block.small {
		.inner {
    .content-wrapper {
      width: 100%;

        .title {
          font-size: 24px;
        }
      }
    }
  }
}

@include breakpoint($desktop) {
  .block.small {
    .inner {
      .content-wrapper {
        width: 60%;
      }
    }
  }
}