.block {
  .img-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    overflow: visible;
    z-index: -1;
    top: 0;

    @include breakpoint($tablet) {
      transform: translateY(50%);
    }

    .cover-image {
      height: auto;
      width: 100%;
      object-fit: cover;

      @include breakpoint($tablet) {
        object-fit: cover;
        height: auto;
        width: 100%;
      }
    }
  }

  // hero
  &.hero .cover-image {
    height: 170%;

    @include breakpoint($tablet) {
      height: 160%;
    }
  }


  &.small .cover-image {
    height: 110%;

    @include breakpoint($tablet) {
      height: 140%;
    }
  }


  // media
  &.media .cover-image {
    height: 110%;
  }

  // book
  &.book .cover-image {
    height: 310%;
  }


  // contact
  &.contact .cover-image {
    height: 120%;

    @include breakpoint($tablet) {
      height: 120%;
    }
    
    @include breakpoint($desktop) {
      height: 105%;
    }
  }
}