main {
	section {
		@include max-width;

		.inner {
			@include grid-span(24, 1);
			@include clearfix;
			padding-top: $gutter;
			padding-bottom: $gutter;
			padding-left: grid-span(1,1);
			padding-right: grid-span(1,1);
			background-repeat: no-repeat;
			border: $border;
			background-size: cover;
			margin-bottom: calc(#{$gutter} / 2);
			background-position-x: center;
			float: none;
			overflow: hidden;
			min-height: 300px;
			background-color: #fcfdff;

			> .title {
				@include font('title');
				margin-bottom: 20px;
				font-size: 1.6rem;
			}
		}
	}
}


@include breakpoint($tablet) {
	main {
		section {
			.inner {
				@include grid-span(22, 2);
				@include clearfix;
				float: none;
				background-size: inherit;
				min-height: 500px;
				padding-left: grid-span(3, 1,24);

				> .title {
    				font-size: 2rem;
				}
			}
		}
	}
}
