.block.contact {
	.inner {
		.contact-article {
			margin-bottom: 20px;

			.phonenumber {
				display: block;
				color: $white;
				text-decoration: none;
			}
		}
	}
}

@include breakpoint($tablet) {
	.inner {
	}
}