.block {
	@include max-width;

	.inner {
		@include grid-span(24, 1);
    @include clearfix;
    position: relative;
		padding-top: $gutter;
		padding-bottom: $gutter;
		padding-left: grid-span(1,1);
		padding-right: grid-span(1,1);
		margin-bottom: calc(#{$gutter} / 2);
		float: none;
		overflow: hidden;
		min-height: 300px;

		> .title {
			@include font('title');
			margin-bottom: 20px;
			font-size: 1.6rem;
    }
    

    &:before {
      content: '';
  		background-color: $blue;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      position: absolute;
      display: block;
      z-index: -5;
    }
	}
}


@include breakpoint($tablet) {
	.block {
		.inner {
			@include grid-span(22, 2);
			@include clearfix;
			float: none;
			min-height: 500px;
			padding-left: grid-span(3, 1,24);

			> .title {
					font-size: 2rem;
			}
		}
	}
}
