.block.media {
	.inner {
		.media-nav {
			padding-bottom: 20px;

			.media-category {
				display: inline-block;

				a {
					@include font('navigation');
					font-size: 1.25rem;
					font-weight: 600;
					color: rgba($white, .5);
					text-decoration: none;
					margin-right: 10px;
					text-transform: none;

					&:hover {
						color: $white;
					}
				}

				&:last-child {
					a {
						margin-right: 0;
					}
        }

				&.active {
					a {
						color: $white;
					}
				}
			}
		}
		.owl-carousel {
			@include grid-span(12, 0 ,10);
			max-width: none;

			.owl-stage-outer {
				padding-left: 10px;
				margin-left: -10px;
				padding-right: 10px;
				box-sizing: content-box;
				margin-right: -10px;
			}

			.owl-dots {
				display: none;
			}
		}
	}
}

@include breakpoint($mobile) {
	.block.media {
		.inner {
			.media-nav {
				.media-category {
					a {
						margin-right: calc( #{$fontpadding} / 1.5);
					}
				}
			}
		}
	}
}

@include breakpoint($tablet) {
	.block.media {
		.inner {
			.owl-carousel {
				@include grid-span(16, 1 ,18);
			}
		}
	}
}