.block.experimensen {
	.inner {
    min-height: auto;
    position: relative;

    .content-wrapper {
      display: flex;
      width: 50%;
      z-index: 2;
      flex-direction: column;

      .title {
        @include font('title');
        font-size: 18px;
        padding-bottom: $gutter/2;
        z-index: 2;
      }
    }

    .iedereen {
      bottom: 0;
      right: grid-span(1,1);
      background-size: contain;
      background-repeat: no-repeat;
      position: absolute;
      width: 325px;
      background-position: bottom;
      height: 100%;
      background-image:  url('../img/expirimensen.png');
    }
  }
}

@include breakpoint(max-width $iphone5) {
  .block.experimensen {
    .inner {
      .content-wrapper {
        width: 60%;

        .iedereen {
          width: 100px;
          height: 105px;
        }
      }
    }
  }
}

@include breakpoint($tablet) {
	.block.experimensen {
		.inner {
    .content-wrapper {
      width: 100%;

        .title {
          font-size: 24px;
        }
      }
    }
  }
}

@include breakpoint($desktop) {
  .block.experimensen {
    .inner {
      .content-wrapper {
        width: 60%;
      }
    }
  }
}