#contact {
	.inner {
		background-image:  url('../img/stefano-voeten.jpg');
	    background-position: left -50px;

		.contact-article {
			margin-bottom: 20px;
			text-shadow: 1px 1px 0px rgba(247, 251, 254, 1);

			.phonenumber {
				display: block;
				color: $black;
				text-decoration: none;
			}
		}
	}
}

@include breakpoint($tablet) {
	.inner {
	}
}