#media {
	.inner {
		background-image:  url('../img/stefano-helemaal-achterkant.jpg');

		.media-nav {
			padding-bottom: 20px;

			.media-category {
				display: inline-block;
				
				a {
					@include font('navigation');
					font-size: 1.25em;
					font-weight: 600;
					color: $gray;
					text-decoration: none;
					margin-right: calc( #{$fontpadding} / 1.5;
					text-transform: none;

					&:hover {
						color: $linkshover;
					}
				}

				&:last-child {
					a {
						margin-right: 0;
					}
				}
				&.active {
					a {
						color: $black;
					}
				}
			}
		}
		.owl-carousel {
			@include grid-span(12, 0 ,10);
			max-width: none;

			.owl-stage-outer {
				padding-left: 10px;
				margin-left: -10px;
				padding-right: 10px;
				box-sizing: content-box;
				margin-right: -10px;
			}

			.owl-dots {
				display: none;
			}
		}
	}
}

@include breakpoint($tablet) {
	#media {
		.inner {
			.owl-carousel {
				@include grid-span(16, 1 ,18);
			}
		}
	}
}