#media {
	.inner {
		background-image:  url('../img/stefano-liggend.jpg');

		.media-nav {
			padding: 20px 0;

			.media-category {
				display: inline-block;
				
				a {
					@include font('navigation');
					font-weight: 600;
					color: $gray;
					text-decoration: none;
					margin-right: $gutter;
					text-transform: none;
				}

				&.active {
					a {
						color: $black;
					}
				}
			}
		}
		.owl-carousel {
			@include grid-span(12, 0 ,10);
			max-width: none;

			.owl-stage-outer {
				padding-left: 10px;
				margin-left: -10px;
				padding-right: 10px;
				box-sizing: content-box;
				margin-right: -10px;
			}

			.owl-dots {
				display: none;
			}
		}
	}
}

@include breakpoint($tablet) {
	#media {
		.inner {
			.owl-carousel {
				@include grid-span(24, 1 ,24);
			}
		}
	}
}