#speeldata {
	.inner {
		background-color: #f4f5fa;
		background-image:  url('../img/stefanohelemaal.png'), url('../img/stefanohelemaalachterkant.png');
	    background-position: right 400px, left 90%;
	    background-size: initial;
	    

		.header-title {
			@include font('title');
			text-transform: uppercase;
			margin: $gutter 0;
			margin-top: 0;
			margin-bottom: 15px;
			font-size: 1.5rem;

			span {
				font-weight: 400;
			}
		}

		iframe {
			@include grid-span(24, 1);
			box-shadow: $shadow;
			background-color: $white;
			min-height: 2505px;

		}
	}
}

@include breakpoint($tablet) {
	#speeldata {
		.inner {
			.header-title {
				margin-bottom: $gutter;
				font-size: 3.5rem;
				line-height: 60px;
			}

			iframe {
				@include grid-span(22, 1);
			}
		}
	}
}