#speeldata {
	.inner {
		background-image:  url('../img/stefano-voeten.jpg');

		.header-title {
			@include font('title');
			text-transform: uppercase;
			margin: $gutter 0;
			margin-top: 0;
			margin-bottom: 15px;
			font-size: 1.5em;

			span {
				font-weight: 400;
			}
		}
		.data {
			@include grid-span(24, 1);
			box-shadow: $shadow;
			background-color: $white;
			display: table;

			tr {
				height: 50px;
				text-align: left;

				th {
					text-transform: uppercase;
					display: table-cell;
					vertical-align: middle;
				}

				td {
					display: table-cell;
					vertical-align: middle;
					padding-left: calc(#{$gutter} / 2);
					
					&:not(:last-child) {
						float: left;
						display: block;
						clear:both;
					}

					&:nth-child(2) {
						font-weight: 600;
					}

					&:last-child {
						padding-right: calc(#{$gutter} / 2);
						text-transform: uppercase;
					    text-align: right;

						a {
					    text-decoration: none;
						}
					}
				}

				&:first-child {
					display: none;
					background-color: $black;
					color: $white;

					th:first-child {
						padding-left: $gutter;
					}
				}

				&:nth-child(2n + 3) {
					background-color: $gray-lightest;
				}
			}
		}
	}
}

@include breakpoint($tablet) {
	#speeldata {
		.inner {
			.header-title {
				margin-bottom: $gutter;
				font-size: 3.5em;
				line-height: 60px;
			}

			.data {
				@include grid-span(22, 1);

				tr {
					th {
						display: table-cell;
						vertical-align: middle;
					}

					td {
						padding-left: 0;
						display: table-cell;
						
						&:not(:last-child) {
							float: none;
							display: table-cell;
						}

						&:first-child {
							padding-left: $gutter;
						}
						
						&:last-child {
						    text-align: left;
						}
					}

					&:first-child {
						display: table-row;
					}
				}
			}
		}
	}
}