$primary: white;
$secundary: black;

$black: #252525;
$gray-light: #d8d8d8;
$gray: gray;
$gray-dark: #2d2d2d;
$white: white;
$gray-lightest: #ececec;

$border: 1px solid $gray-lightest;
$shadow: 0 0 15px rgba( black, .4);
