$primary: white;
$white: white;
$secundary: #252525;

$black: #252525;
$gray-light: #d8d8d8;
$gray-dark: #2d2d2d;
$gray-lightest: #ececec;
$links: #afafaf;
$gray: $links;

$border: 1px solid $gray-lightest;
$shadow: 0 0 10px rgba( black, .1);
$border-radius: 2px;
