// elements
body {
	@include font('normal');
}

a:not(.button) {
	color: $white;
	transition: color $speed;
}

* {
  -webkit-tap-highlight-color: transparent;

  &:focus {
    outline: none !important;
  }

	@include selection {
		background: $blue;
    color: $white;
    text-shadow: none;
  }
}