// elements
body {
	@include font('normal');
}

a:not(.button) {
	color: $links;
	transition: color $speed;

	&:hover {
		color: $linkshover;
	}
}

img {
	border-top: 1px solid $gray-light;
	border-bottom: 1px solid $gray-light;
}