@mixin font($type:'normal') {
  font-family: "Source Sans Pro", sans-serif;
  color: $black;
  font-size: 16px;
  line-height: 1.4;

  @if $type == "title" {
    font-size: 48px;
    font-weight: bold;

  } @else if $type == "navigation" {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 17px;
    font-weight: 600px;
    text-transform: uppercase;

  } @else if $type == "subtitle" {
    font-weight: 600px;
    font-size: 28px;
  }
}