@mixin font($type:'normal') {
  font-family: "Source Sans Pro", sans-serif;
  color: $black;
  font-size: 1em;
  line-height: 1.5;

  @if $type == "title" {
    font-size: 2em;
    font-weight: bold;

  } @else if $type == "navigation" {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1em;
    font-weight: 600px;
    text-transform: uppercase;

  }
}