@mixin font($type:'normal') {
  font-family: "SourceSansPro", sans-serif;
  color: $white;
  font-size: 1rem;
  line-height: 1.5;

  @if $type == "title" {
    font-size: 2rem;
    font-weight: bold;

  } @else if $type == "navigation" {
    font-family: "SourceSansPro", sans-serif;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
  }
}