.button {
	@include font('navigation');
	margin: 0;
	border: 0;
	position: relative;
	text-align: center;
	box-sizing: border-box;
	cursor: pointer;
	overflow: hidden;
	border: $white solid 1px;
	padding: calc( #{$gutter} / 4) calc( #{$gutter} / 4);
	transition: background-color $speed ease, color $speed ease;
	border-radius: $border-radius;
	text-decoration: none;
  display: block !important;
	max-width: 150px;
  font-size: 14px;

	&:hover {
		color: $blue;
		background-color: $white;
	}
}
@include breakpoint($tablet) {
	.button {
		padding: calc( #{$gutter} / 4) calc( #{$gutter} / 2);
    max-width: 200px;
    font-size: 1.125rem;

    &.small {
      font-size: 14px;
    }
	}
}