.button {
	@include font('navigation');
	color: $black;
	margin: 0;
	border: 0;
	position: relative;
	text-align: center;
	font-size: 1.125rem;
	box-sizing: border-box;
	cursor: pointer;
	overflow: hidden;
	border: #000000 solid 1px;
	padding: calc( #{$gutter} / 4) calc( #{$gutter} / 4);
	transition: background-color $speed ease, color $speed ease;
	border-radius: $border-radius;
	text-decoration: none;
    display: block !important;
	max-width: 150px;

	&.small {
		font-size: 14px;
	}

	&:hover {
		color: $white;
		background-color: $black;

	}
}
@include breakpoint($tablet) {
	.button {
		padding: calc( #{$gutter} / 4) calc( #{$gutter} / 2);
		max-width: 200px;
	}
}