.owl-carousel {
	.owl-stage {
		max-width: none;
	    padding-top: 10px;

		.owl-item {
			background-color: $white;
			box-shadow: $shadow;
			padding: $gutter;
			min-height: 250px;
			margin-bottom: 10px;
			border-radius: $border-radius;

			.card {
				.title {
					@include font('navigation');
					font-size: 1.125em;
					color: $black;
					text-transform: capitalize;
					font-weight: 600;
				}

				a {
					color: $gray;
					margin: 1em 0;
					display: block;
				}

				blockquote {
					font-style: italic;
					&:before {
						content: "\201C";
					}
					&:after {
						content: "\201D";
					}
				}
			}
		}
	}
}