.owl-carousel {
	.owl-stage {
		max-width: none;
	    padding-top: 10px;
	    min-width: 5000px;

		.owl-item {
			background-color: $white;
			box-shadow: $shadow;
			padding: 2rem;
			margin-bottom: 10px;
			border-radius: $border-radius;
			min-height: 270px;

			.card {
				.title {
					@include font('navigation');
					font-size: 1.125rem;
					color: $black;
					text-transform: capitalize;
					font-weight: 600;
				}

				.title-text {
					color: $gray;
					margin-top: 1rem;
					padding-bottom: 1rem;
					display: block;
					font-size: 1rem;

						&:hover {
							color: $linkshover;
						}
				}

				.quotes {
					font-style: italic;

					&:before {
						content: "\201C";
					}
					&:after {
						content: "\201D";
					}
				}
			}
		}
	}
}