.owl-nav {
	[class*='owl-'] {
		background: transparent !important;
  }
  
  .owl-prev {
    left: grid-span(-2, 1, 18);
  }

  .owl-next {
    right: grid-span(-2, 1, 18);
    
    #arrow-right {
      transform: rotate(180deg);
    }
  }

	svg {
		height: 2rem;
		fill: rgba($white, .6);
	}
}