.socialmedia {
   white-space: nowrap;

	a {
		text-decoration: none;

		svg {
			width: 15px;
			fill: $black;
			background-color: $white;
			padding: 7px;
			border-radius: 50%;
			border: 1px solid $black;
			transition: all $speed;
		}
		
		&:hover {
			svg {
				fill: $white;
				background-color: $black;
				border-radius: 50%;
			}			
		}
	}
}