.socialmedia {
   white-space: nowrap;

	a {
		text-decoration: none;
		margin-right: .5rem;

		svg {
      width: 35px;
      height: 100%;
			fill: $white;
			padding: 7px;
			border-radius: 50%;
			border: 1px solid $white;
			transition: all $speed;
		}

		&:hover {
			svg {
        border: 2px solid $white;
				border-radius: 50%;
			}
		}
	}
}