.iframe-wrapper.video {
  padding: 75% 0 0 0;
  position: relative;
  margin-top: $gutter / 2;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}

.hero {
  iframe {
    height: 100%;
  }
}

.extra {

  iframe {
    width: 100%;
    height: calc(100vw / 16 * 9 - (100vw / 12 * 1));

    @include breakpoint($tablet) {
      width: 500px;
      height: calc(500px / 16 * 9);
    }
  }
}